@import "variables";
@import "globales";
@import "inicio";
@import "actividades";
@import "contacto";

*{
    margin:0;
    padding:0;
    }
    
    body {
      background-color: rgb(31, 29, 29);
      color:white;
    }
    
    header {
      background-color: orangered;
      display:flex;
      justify-content: space-around;
      align-items: center;
      opacity: .9;
      position: sticky;
      top: 0;
    }
    
    header img {
      width: 120px;
    }
    
    ul {
      list-style: none;
    }
    
    nav ul {
      display:flex;
      gap: 15px;
    }
    
    a {
      color: #b2b2b2;
      text-decoration: none;
    }
    
    img{
      max-width: 100%;
    }
    .enlaces {
      color: #b2b2b2;
    
      padding: 5px 10px;
    }
    .banner {
      background-image: url(../img//entrenamiento.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      height: 480px;
      width: 100%;
    
    }
    
    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Arial', sans-serif;
    }
    
    
    h1,h2,h3,h4{
      color: #b2b2b2;
      text-align: center;
      margin: 20px 0;
    }
    
    
    .parrafo-white {
      background-color: orangered;
      color: #b2b2b2;
      padding: 2rem;
      text-align: center;
      font-size: 2rem;
      font-family: 'Montserrat', sans-serif;
    }
    
    .padre-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 2rem;
    }
    
    .card {
      width: 820px;
      color: orangered;
      padding: 30px 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .card img {
      display: block;
      width: 100%;
      height: auto;
    }
    
    .contenedor-padre {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      text-align: center;
    }
    
    .contenedor {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
    }
    
    .contenedor.reverse {
      flex-direction: row-reverse;
    }
    
    .imagen-fullbody {
      margin-right: 20px;
    }
    
    .contenedor-textos {
      max-width: 600px;
      margin-right: 20px;
    }
    
    .contenedor-textos h3 {
      margin-bottom: 10px;
      font-size: 24px;
    }
    
    .contenedor-textos p {
      font-size: 18px;
      line-height: 1.5;
      color: #b2b2b2;
    }
    
    .contenedor img {
      max-width: 400px;
    }
    
    footer {
      background-color: black;
      padding: 20px;
      text-align: center;
      font-size: 14px;
    }
    
    .padre-redes {
      display: flex;
      justify-content: center;
      margin: 10px 0;
    }
    
    .icono-redes {
      width: 40px;
      height: 40px;
      margin: 0 5px;
    }
    
    .whatsapp {
      position: fixed;
      bottom: 20px;
      right: 50px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      transition: all 0.3s ease;
      cursor: pointer;
    }
    
    .whatsapp:hover {
      transform: scale(1.1);
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    }
    
    contacto.css{
      color: #0000;
    }
    
    
    /* Estilos para el formulario */
    
    .form {
      margin: 30px auto;
      max-width: 600px;
    }
    
    .form-group {
      margin-bottom: 20px;
    }
    
    .form-label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
    
    .form-control {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }
    
    .form-control:focus {
      outline: none;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    }
    
    .btn {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-weight: bold;
      text-transform: uppercase;
      transition: all 0.3s ease;
      cursor: pointer;
    }
    
    .btn-primary {
      background-color: #ac6262;
      color: #f5f5f5;
    }
    
    .btn-secondary {
      background-color: #ac6262;
      color: $color-secundario;
      margin-left: 10px;
    }
    
    .btn:hover {
      transform: translateY(-2px);
    }
    
    /* Estilos para el pie de página */
    
    footer {
      background-color: #211c1c;
      padding: 20px;
      text-align: center;
      font-size: 14px;
    }
    
    .padre-redes {
      display: flex;
      justify-content: center;
      margin: 10px 0;
    }
    
    .icono-redes {
      width: 30px;
      height: 30px;
      margin: 0 10px;
    }
    
    .whatsapp {
      position: fixed;
      bottom: 30px;
      right: 30px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      transition: all 0.3s ease;
      cursor: pointer;
    }
    
    .whatsapp:hover {
      transform: scale(1.1);
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    }
    
    /* Estilos para la sección de actividades */
    .actividades {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 2rem;
      padding: 2rem;
    }
    
    /* Estilos para los contenedores de cada tarjeta */
    .contenedor-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: #641e04;
      border-radius: 10px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      overflow: hidden;
    }
    .car:hover {
      transform: scale(1);

    }
    
    /* Estilos para las imágenes de cada tarjeta */
    .contenedor-card img {
      max-width: 100%;
    }
    
    /* Estilos para los textos de cada tarjeta */
    .contenedor-texto {
      padding: 1rem;
    }
    
    /* Media Queries para hacer el diseño responsive */
    @media only screen and (min-width: 768px) {
      /* Cambiar el grid a una sola columna */
      .actividades {
        grid-template-columns: 1fr;
      }
      
      /* Ajustar el tamaño de las imágenes */
      .contenedor-card img {
        max-width: 50%;
      }
    }
    
    /* Estilos para mobile */
    @media (min-width: 768px) {
      /* Definimos las columnas para el grid */
      .contenedor-padre {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
      }
    
      /* Definimos la alineación de los elementos */
      .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      /* Ajustamos el tamaño de la imagen */
      .contenedor img {
        width: 100%;
        max-width: 200px;
      }
    
      /* Centramos los textos */
      .contenedor-textos {
        text-align: center;
      }
    }
    
    /* Estilos para tablet */
    @media (min-width: 768px) and (max-width: 1023px) {
      /* Definimos las columnas para el grid */
      .contenedor-padre {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
      }
    
      /* Definimos la alineación de los elementos */
      .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      /* Ajustamos el tamaño de la imagen */
      .contenedor img {
        width: 100%;
        max-width: 250px;
      }
    
      /* Centramos los textos */
      .contenedor-textos {
        text-align: center;
      }
    }
    
    /* Estilos para desktop */
    @media(min-width: 1024px) {
      /* Definimos las columnas para el grid */
      .contenedor-padre {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
      }
    
      /* Definimos la alineación de los elementos */
      .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      /* Ajustamos el tamaño de la imagen */
      .contenedor img {
        width: 100%;
        max-width: 300px;
      }
    
      /* Centramos los textos */
      .contenedor-textos {
        text-align: center;
      }
    }
    
    
    /*# sourceMappingURL=styles.css.map */