html {
    font-size: 18px;
    width:100%;
    min-width: 375px;
    font-family: $Arial,Helvetica, sans-serif ;
}

body {
    position: relative;
}

h1,h2,h3,h4, H5,h6{
    $color: #b2b2b2;
    text-align: center;
    margin: 20px 0;
}